/target
/.locks
/app-data
/models-cache
/models--Qwen--Qwen3-TTS-12Hz-1.7B-Base
/tmp-video-test
/tmp-video-test2
/__pycache__
/engines
*.exe
*.wav
*.mp3
*.mp4
*.srt
*.ass
*.json
*.bak
*.bak_*
!Cargo.lock
